In [1]:
import pandas as pd
import os

print(os.getcwd())

아이돌1 = pd.read_csv('./data/korean-idol.csv')
아이돌2 = pd.read_csv('./data/korean-idol-2.csv')

c:\Users\go121\practice_jupyter\개인공부용

In [2]:
# 데이터 프레임 붙이기 - concat
한국아이돌 = pd.concat([아이돌1, 아이돌2])
display(한국아이돌)
한국아이돌 = pd.concat([아이돌1, 아이돌2], ignore_index=True)
display(한국아이돌)

'''
🔍 pd.concat(데이터프레임리스트) : 데이터프레임을 물리적으로 이어 붙여준다.
🤔 기본값으로 axis=0 이므로 위아래로 이어붙여주게 된다.
이때, 존재하지 않는 값은 NaN이된다.
기본값으로 ignore_index=False 이므로 기존의 인덱스를 그대로 가져온다.
따라서, 인덱스를 새로 정의하려면 ignore_index=True 하자!
'''

      이름     그룹      소속사   성별        생년월일      키  혈액형     브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트   남자  1995-10-13  173.6    A  10523260.0     NaN  NaN
1   지드래곤     빅뱅       YG   남자  1988-08-18  177.0    A   9916947.0     NaN  NaN
2   강다니엘    NaN      커넥트   남자  1996-12-10  180.0    A   8273745.0     NaN  NaN
3      뷔  방탄소년단      빅히트   남자  1995-12-30  178.0   AB   8073501.0     NaN  NaN
4     화사    마마무      RBW   여자  1995-07-23  162.1    A   7650928.0     NaN  NaN
5     정국  방탄소년단      빅히트   남자  1997-09-01  178.0    A   5208335.0     NaN  NaN
6     민현   뉴이스트     플레디스   남자  1995-08-09  182.3    O   4989792.0     NaN  NaN
7     소연    아이들       큐브   여자  1998-08-26    NaN    B   4668615.0     NaN  NaN
8      진  방탄소년단      빅히트   남자  1992-12-04  179.2    O   4570308.0     NaN  NaN
9    하성운     핫샷  스타크루이엔티   남자  1994-03-22  167.1    A   4036489.0     NaN  NaN
10    태연   소녀시대       SM   여자  1989-03-09    NaN    A   3918661.0     NaN  NaN
11   차은우   아스트로     판타지오   남자  1997-03-30  183.0    B   3506027.0     NaN  NaN
12    백호   뉴이스트     플레디스   남자  1995-07-21  175.0   AB   3301654.0     NaN  NaN
13    JR   뉴이스트     플레디스   남자  1995-06-08  176.0    O   3274137.0     NaN  NaN
14    슈가  방탄소년단      빅히트   남자  1993-03-09  174.0    O   2925442.0     NaN  NaN
0     지민    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3000.0  3.0
1   지드래곤    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3500.0  3.0
2   강다니엘    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3200.0  4.0
3      뷔    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3050.0  4.0
4     화사    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4300.0  3.0
5     정국    NaN      NaN  NaN         NaN    NaN  NaN         NaN  2900.0  5.0
6     민현    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3400.0  6.0
7     소연    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4500.0  5.0
8      진    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4200.0  4.0
9    하성운    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4300.0  4.0
10    태연    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3700.0  3.0
11   차은우    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3850.0  5.0
12    백호    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3900.0  4.0
13    JR    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4100.0  3.0
14    슈가    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4150.0  3.0

      이름     그룹      소속사   성별        생년월일      키  혈액형     브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트   남자  1995-10-13  173.6    A  10523260.0     NaN  NaN
1   지드래곤     빅뱅       YG   남자  1988-08-18  177.0    A   9916947.0     NaN  NaN
2   강다니엘    NaN      커넥트   남자  1996-12-10  180.0    A   8273745.0     NaN  NaN
3      뷔  방탄소년단      빅히트   남자  1995-12-30  178.0   AB   8073501.0     NaN  NaN
4     화사    마마무      RBW   여자  1995-07-23  162.1    A   7650928.0     NaN  NaN
5     정국  방탄소년단      빅히트   남자  1997-09-01  178.0    A   5208335.0     NaN  NaN
6     민현   뉴이스트     플레디스   남자  1995-08-09  182.3    O   4989792.0     NaN  NaN
7     소연    아이들       큐브   여자  1998-08-26    NaN    B   4668615.0     NaN  NaN
8      진  방탄소년단      빅히트   남자  1992-12-04  179.2    O   4570308.0     NaN  NaN
9    하성운     핫샷  스타크루이엔티   남자  1994-03-22  167.1    A   4036489.0     NaN  NaN
10    태연   소녀시대       SM   여자  1989-03-09    NaN    A   3918661.0     NaN  NaN
11   차은우   아스트로     판타지오   남자  1997-03-30  183.0    B   3506027.0     NaN  NaN
12    백호   뉴이스트     플레디스   남자  1995-07-21  175.0   AB   3301654.0     NaN  NaN
13    JR   뉴이스트     플레디스   남자  1995-06-08  176.0    O   3274137.0     NaN  NaN
14    슈가  방탄소년단      빅히트   남자  1993-03-09  174.0    O   2925442.0     NaN  NaN
15    지민    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3000.0  3.0
16  지드래곤    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3500.0  3.0
17  강다니엘    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3200.0  4.0
18     뷔    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3050.0  4.0
19    화사    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4300.0  3.0
20    정국    NaN      NaN  NaN         NaN    NaN  NaN         NaN  2900.0  5.0
21    민현    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3400.0  6.0
22    소연    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4500.0  5.0
23     진    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4200.0  4.0
24   하성운    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4300.0  4.0
25    태연    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3700.0  3.0
26   차은우    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3850.0  5.0
27    백호    NaN      NaN  NaN         NaN    NaN  NaN         NaN  3900.0  4.0
28    JR    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4100.0  3.0
29    슈가    NaN      NaN  NaN         NaN    NaN  NaN         NaN  4150.0  3.0

'\n🔍 pd.concat(데이터프레임리스트) : 데이터프레임을 물리적으로 이어 붙여준다.\n🤔 기본값으로 axis=0 이므로 위아래로 이어붙여주게 된다.\n이때, 존재하지 않는 값은 NaN이된다.\n기본값으로 ignore_index=False 이므로 기존의 인덱스를 그대로 가져온다.\n따라서, 인덱스를 새로 정의하려면 ignore_index=True 하자!\n'

In [3]:
한국아이돌 = pd.concat([아이돌1, 아이돌2], axis=1)
display(한국아이돌)
'''
🤔 axis=1 로 바꾸면 옆으로 이어붙여주게 된다.
concat함수는 기본값으로 join='outer'(합집합)이다.
교집합을 원한다면 join='inner' 속성을 주자!
'''

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    이름    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    지민  3000    3
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  지드래곤  3500    3
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  강다니엘  3200    4
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     뷔  3050    4
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    화사  4300    3
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    정국  2900    5
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    민현  3400    6
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    소연  4500    5
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308     진  4200    4
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489   하성운  4300    4
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    태연  3700    3
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027   차은우  3850    5
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    백호  3900    4
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    JR  4100    3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    슈가  4150    3

"\n🤔 axis=1 로 바꾸면 옆으로 이어붙여주게 된다.\nconcat함수는 기본값으로 join='outer'(합집합)이다.\n교집합을 원한다면 join='inner' 속성을 주자!\n"

In [4]:
# 데이터프레임 병합 - merge
한국아이돌 = pd.merge(아이돌1, 아이돌2)
display(한국아이돌)
한국아이돌 = pd.merge(아이돌1, 아이돌2, how='outer', on='이름')
display(한국아이돌)
'''
🔍 pd.concat(df_left, df_right, how='inner', on=None)
🤔 데이터프레임을 각 데이터에 존재하는 고유값(key)을 기준으로 병합한다.
how='left'  : 왼쪽데이터프레임 기준
how='right' : 오른쪽데이터프레임 기준
how='inner' : 교집합
how='outer' : 합집합
'''

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000    3
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  3500    3
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200    4
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501  3050    4
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300    3
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335  2900    5
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400    6
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615  4500    5
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200    4
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  4300    4
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700    3
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850    5
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900    4
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100    3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150    3

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    연봉  가족수
0     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100    3
1   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200    4
2     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400    6
3     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900    4
4      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501  3050    4
5     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615  4500    5
6     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150    3
7     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335  2900    5
8   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  3500    3
9     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000    3
10     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200    4
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850    5
12    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700    3
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489  4300    4
14    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300    3

"\n🔍 pd.concat(df_left, df_right, how='inner', on=None)\n🤔 데이터프레임을 각 데이터에 존재하는 고유값(key)을 기준으로 병합한다.\nhow='left'  : 왼쪽데이터프레임 기준\nhow='right' : 오른쪽데이터프레임 기준\nhow='inner' : 교집합\nhow='outer' : 합집합\n"