In [1]:
import numpy as np
from numpy import dot
from numpy.linalg import norm

def cos_sim(A, B):
  return dot(A, B)/(norm(A)*norm(B))

doc1 = np.array([0,1,1,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])

print('문서 1과 문서2의 유사도 :',cos_sim(doc1, doc2))
print('문서 1과 문서3의 유사도 :',cos_sim(doc1, doc3))
print('문서 2와 문서3의 유사도 :',cos_sim(doc2, doc3))

문서 1과 문서2의 유사도 : 0.6666666666666667
문서 1과 문서3의 유사도 : 0.6666666666666667
문서 2와 문서3의 유사도 : 1.0000000000000002

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

data = pd.read_csv('data/movies_metadata.csv', low_memory=False)
data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [4]:
data = data.head(20000)

In [5]:
print('overview 열의 결측값의 수:',data['overview'].isnull().sum())

overview 열의 결측값의 수: 135

In [6]:
data['overview'] = data['overview'].fillna('')

In [7]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['overview'])
print('TF-IDF 행렬의 크기(shape) :',tfidf_matrix.shape)

TF-IDF 행렬의 크기(shape) : (20000, 47487)

In [25]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print('코사인 유사도 연산 결과 :',cosine_sim.shape)
display(pd.DataFrame(cosine_sim))

코사인 유사도 연산 결과 : (20000, 20000)

,0,1,2,3,4,5,6,7,8,9,...,19990,19991,19992,19993,19994,19995,19996,19997,19998,19999
0,1.000000,0.015757,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,...,0.000000,0.009979,0.060997,0.000000,0.000000,0.0,0.024585,0.000000,0.0,0.000000
1,0.015757,1.000000,0.049073,0.0,0.000000,0.051830,0.00000,0.000000,0.106355,0.0,...,0.029242,0.000000,0.000000,0.004271,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,0.000000,0.049073,1.000000,0.0,0.025005,0.000000,0.00000,0.006500,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
3,0.000000,0.000000,0.000000,1.0,0.000000,0.007139,0.00000,0.009396,0.000000,0.0,...,0.008305,0.000000,0.008952,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,0.000000,0.000000,0.025005,0.0,1.000000,0.000000,0.03298,0.000000,0.032751,0.0,...,0.009277,0.000000,0.000000,0.025417,0.000000,0.0,0.078359,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.0,0.000000
19996,0.024585,0.000000,0.000000,0.0,0.078359,0.029114,0.00000,0.009135,0.000000,0.0,...,0.024083,0.000000,0.000000,0.018573,0.000000,0.0,1.000000,0.000000,0.0,0.000000
19997,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.016507,0.0,...,0.000000,0.000000,0.000000,0.020476,0.000000,0.0,0.000000,1.000000,0.0,0.083758
19998,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,...,0.006947,0.011156,0.000000,0.007180,0.040233,0.0,0.000000,0.000000,1.0,0.000000
19999,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.083758,0.0,1.000000

In [9]:
title_to_index = dict(zip(data['title'], data.index))

# 영화 제목 Father of the Bride Part II의 인덱스를 리턴
idx = title_to_index['Father of the Bride Part II']
print(idx)

4

In [10]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # 선택한 영화의 타이틀로부터 해당 영화의 인덱스를 받아온다.
    idx = title_to_index[title]

    # 해당 영화와 모든 영화와의 유사도를 가져온다.
    sim_scores = list(enumerate(cosine_sim[idx]))

    # 유사도에 따라 영화들을 정렬한다.
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # 가장 유사한 10개의 영화를 받아온다.
    sim_scores = sim_scores[1:11]

    # 가장 유사한 10개의 영화의 인덱스를 얻는다.
    movie_indices = [idx[0] for idx in sim_scores]

    # 가장 유사한 10개의 영화의 제목을 리턴한다.
    return data['title'].iloc[movie_indices]

In [11]:
get_recommendations('The Dark Knight Rises')

12481                            The Dark Knight
150                               Batman Forever
1328                              Batman Returns
15511                 Batman: Under the Red Hood
585                                       Batman
9230          Batman Beyond: Return of the Joker
18035                           Batman: Year One
19792    Batman: The Dark Knight Returns, Part 1
3095                Batman: Mask of the Phantasm
10122                              Batman Begins
Name: title, dtype: object

In [26]:
get_recommendations('Batman Forever')

18252                      The Dark Knight Rises
19792    Batman: The Dark Knight Returns, Part 1
12481                            The Dark Knight
3095                Batman: Mask of the Phantasm
10122                              Batman Begins
1328                              Batman Returns
15511                 Batman: Under the Red Hood
9230          Batman Beyond: Return of the Joker
1491                              Batman & Robin
18035                           Batman: Year One
Name: title, dtype: object

In [22]:
data = pd.read_csv('data/movies_metadata.csv', low_memory=False)

for i in list(data.columns):
    print(f'{i}:{data.loc[0][i]}')

adult:False
belongs_to_collection:{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
budget:30000000
genres:[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
homepage:http://toystory.disney.com/toy-story
id:862
imdb_id:tt0114709
original_language:en
original_title:Toy Story
overview:Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.
popularity:21.946943
poster_path:/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies:[{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries:[{'iso_3166_1': 'US', 'name': 'United States of America'}]
release_date:1995-10-30
revenue:373554033.0
runtime:81.0
spoken_languages:[{'iso_639_1': 'en', 'name': 'English'}]
status:Released
tagline:nan
title:Toy Story
video:False
vote_average:7.7
vote_count:5415.0